on: [push, pull_request]

name: conan

jobs:
  generate-matrix:
    name: Generate Job Matrix
    runs-on: ubuntu-20.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: "0"
      - uses: actions/setup-python@v1
        with:
          python-version: "3.8"
      - name: Install Package Tools
        run: |
          pip install conan_package_tools
          conan user
      - name: Generate Job Matrix
        id: set-matrix
        env:
          splitByBuildTypes: ${{ env.splitByBuildTypes }}
        run: |
          MATRIX=$(conan-package-tools generate-ci-jobs --platform gha)
          echo "${MATRIX}"
          echo "::set-output name=matrix::${MATRIX}"
  conan:
    needs: generate-matrix
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.generate-matrix.outputs.matrix)}}
    name: ${{ matrix.config.name }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: "0"
      - uses: actions/setup-python@v1
        with:
          python-version: "3.8"
      - name: Install Conan
        env:
          BPT_MATRIX: ${{toJson(matrix.config)}}
        run: |
          pip install conan_package_tools
          # remove newlines from matrix first
          matrix=$(echo ${BPT_MATRIX})
          conan-package-tools prepare-env --platform gha --config "${matrix}"
        shell: bash
      - name: Run
        env:
          CONAN_LOGIN_USERNAME: ${{ secrets.CONAN_LOGIN_USERNAME }}
          CONAN_PASSWORD: ${{ secrets.CONAN_PASSWORD }}
        run: |
          conan-package-tools --auto